@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --color-base: #F5F7FA;
    --color-secondary: #4A90E2;
    --color-accent: #2ECC71;
}



"editor.quickSuggestions": {
    "strings": "on"
}

.text-shadow{
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.4);
}
